
#CustomizeMyBird_prefwindow {
  font-size: 16px;
}

#CustomizeMyBird_prefwindow #customizemybird_title {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
}

#CustomizeMyBird_prefwindow menulist {
  min-width: 500px;
}

.customizemybird_headline{
  font-size: 20px;
  font-weight: bold;
}

.cmb_groupbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cmb_groupbox > hbox {
  border: 1px solid lightgrey;
  margin-top: 1px;
  margin-bottom: 1px;
}

#CustomizeMyBird_prefwindow #customizemybird_content_box {
  overflow: auto;
  min-width: 300px;
  width: 100vw;
  margin: 0px;
}

#CustomizeMyBird_prefwindow #customizemybird_content_box > * {
  -moz-margin-start: 150px;
  -moz-margin-end: 150px;
}

#customizemybird_rg_appmenubuttonicon #tb_icon_white .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_white.png") !important;
}
#customizemybird_rg_appmenubuttonicon #tb_icon_white2 .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_white2.png") !important;
}
#customizemybird_rg_appmenubuttonicon #tb_icon_def .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_def.png") !important;
}
#customizemybird_rg_appmenubuttonicon #tb_icon_def2 .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_def2.png") !important;
}
#customizemybird_rg_appmenubuttonicon #tb_icon_def3 .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_def3.png") !important;
}
#customizemybird_rg_appmenubuttonicon #tb_icon_flat .radio-icon {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_icon_flat.png") !important;
}

#customizemybird_rg_appmenubuttonicon .radio-icon {
  width: 16px !important;
  height: 16px !important;
}

#customizemybird_rg_appmenubuttonicon radio {
  -moz-margin-start: 0 !important;
  -moz-margin-end: 0 !important;
}

#customizemybird_rg_appmenubuttonicon #tb_icon_none .radio-icon {
  display: none !important;
}

#customizemybird_rg_appmenubuttonicon #tb_icon_none .radio-label {
  -moz-padding-start: 2px !important;
}

#customizemybird_ml_ctb_tbmailicons {
  min-width: 200px;
}

input[type=number] {
  -moz-appearance: textfield !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important;
  margin: 0 !important;
}

#customizemybird_rg_categories radio:hover {
  cursor: pointer !important;
}

#customizemybird_rg_categories radio .radio-label {
  padding: 0 4px !important;
}

#customizemybird_rg_categories radio:not([selected="true"]) :-moz-any(.radio-spacer-box,.radio-check,.radio-check-box1) {
  visibility: hidden !important;
}

#customizemybird_rg_categories radio:not([selected="true"]):hover :-moz-any(.radio-spacer-box,.radio-check,.radio-check-box1) {
  visibility: visible !important;
  opacity: 0.2 !important;
}

#customizemybird_rg_categories radio:not([selected="true"]) :-moz-any(.radio-label-center-box,.radio-label-box) {
  -moz-appearance: none !important;
}
#customizemybird_rg_categories radio:-moz-any([selected="true"],:hover) :-moz-any(.radio-label-center-box,.radio-label-box) {
  -moz-appearance: none !important;
  background: Highlight !important;
  color: Highlighttext !important;
  transition-duration: 0.1s !important;
}

#cmb_tb63plus_compatibility,
#customizemybird_rg_categories radio[selected="true"] :-moz-any(.radio-label-center-box,.radio-label-box),
.text-link,
.cmb_nondefault_theme {
  font-weight: bold;
}

#customizemybird_cb_tabheight_down,
#customizemybird_cb_tabheight_up {
  list-style-image: url("chrome://customizemybirdextension/content/images/tb_mail_tb3.png");
  -moz-appearance: none;
  background: unset;
  border: unset;
  padding: unset;
  margin: unset;
  min-width: unset;
  width: unset;
}

#customizemybird_cb_tabheight_down:hover,
#customizemybird_cb_tabheight_up:hover {
  transform: scale(0.75);
  transition-duration: 0.1s;
}

#customizemybird_cb_tabheight_down {
  -moz-image-region: rect(0px, 414px, 18px, 396px);
}

#customizemybird_cb_tabheight_up {
  -moz-image-region: rect(0px, 432px, 18px, 414px);
}

#customizemybird_tb_customcss {
  min-width: 480px;
  width: calc( 100vw - 330px );
}