
/* remove top toolbar shadows */
#mail-toolbox,
.mail-toolbox,
#mail-toolbar-menubar2,
#tabs-toolbar,
#tabs-toolbar::after,
#tabs-toolbar::before{
  box-shadow: none !important;
}

/* adjust menubar border */
#mail-toolbar-menubar2{
  border-bottom: 0px !important;
}

/* Windows 'Aero' */
@media all and (-moz-windows-theme:aero) {

	/* move tabs to windows top edge */
	#messengerWindow #tabs-toolbar {
	  margin-top:6px !important;
	}
	#messengerWindow[hcp_platformPlus="windows"] #tabs-toolbar {
	  margin-top:8px !important;
	}

	#messengerWindow[sizemode="maximized"] #tabs-toolbar {
	  margin-top:-1px !important;
	}
	#messengerWindow[sizemode="maximized"][hcp_platformPlus="windows"] #tabs-toolbar {
	  margin-top:1px !important;
	}

}

/* compose window */
#addresses-box textbox {
  background: white !important;
  color: black !important;
  border: 1px solid #a9b7c9 !important;
}
#addresses-box textbox:hover,
#addresses-box textbox[focused] {
  background: white !important;
  color: black !important;
  border: 1px solid Highlight !important;
}

#addresses-box textbox[nomatch="true"][highlightnonmatches="true"] {
  color: red !important;
}

/* Win7/Vista Aero tweaks*/
@media not all and (-moz-os-version:windows-win10) {
 @media not all and (-moz-os-version:windows-win8) {
  @media all and (-moz-windows-theme:aero) {
  
	/* menubar */
	.chromeclass-menubar{
	  border-bottom: 0px !important;
	}
	.chromeclass-toolbar:not(:-moz-lwtheme) {
	  background: linear-gradient(#eaf2fb,#dceaf9) !important;
	}

	/* filter bar */
	#quick-filter-bar {
	  background: #dbeaf9 !important;
	}
	
	/* header */
	#expandedHeadersBox {
	  background: #eef3fa !important;
	}
	
	/* Lightning */
	#unifinder-searchBox,
	#task-addition-box,
	#calendar-nav-control{
	  background: #dbeaf9 !important;
	}
	
	/*status bar*/
	#messengerWindow:not(:-moz-lwtheme) #status-bar {
	  -moz-appearance: none !important;  
	  border-top: unset !important;  
	}

	#messengerWindow:not(:-moz-lwtheme) #status-bar statusbarpanel,
	#messengerWindow:not(:-moz-lwtheme) #status-bar .statusbar-resizerpanel{
	  -moz-appearance: none !important;  
	  background: #dbeaf9 !important;
	  border-top: 1px solid rgba(0,0,0,.2) !important;
	  border-left: 0px !important;
	  border-right: 0px !important;
	  border-bottom: 0px !important;
	}
	
	#messengerWindow:not(:-moz-lwtheme) #status-bar statusbarpanel toolbarbutton{
	  background: unset !important;
	}
	
	.contentTabInstance notification {
	  background-color: #dbeaf9 !important;
	}
	
	/* Lightning */
	#today-pane-panel:not(:-moz-lwtheme) > sidebarheader,
	#today-pane-panel:not(:-moz-lwtheme) {
	  background-color: #eaf2fb !important;
	}
	#today-pane-panel > sidebarheader {
	  border-top: 1px solid rgba(10%, 10%, 10%, .4) !important;
	}
  }
 }
}

@media (-moz-os-version:windows-win8),(-moz-os-version:windows-win10) {
	/* menubar */
	.chromeclass-menubar{
	  border-bottom: 0px !important;
	}
	.chromeclass-toolbar{
	  margin-top: 0px !important;
	}
	
	/*status bar*/
	#messengerWindow:not(:-moz-lwtheme) #status-bar {
	  -moz-appearance: none !important;  
	  border-top: unset !important;  
	}
	
	#messengerWindow:not(:-moz-lwtheme) #status-bar statusbarpanel,
	#messengerWindow:not(:-moz-lwtheme) #status-bar .statusbar-resizerpanel{
	  -moz-appearance: none !important;  
	  border-top: 1px solid rgba(0,0,0,.2) !important;
	  border-left: 0px !important;
	  border-right: 0px !important;
	  border-bottom: 0px !important;
	}
	
	#messengerWindow:not(:-moz-lwtheme) #status-bar statusbarpanel toolbarbutton{
	  background: unset !important;
	}

}
